
body {
  font-family: "Rethink Sans" !important;
  font-style: normal;
}

body div {
  border-color: rgba(218, 227, 248, 1) ;
}

.select-options .el-icon{
  color: rgba(55, 136, 229, 1);
}

.select-options .el-select__wrapper{
  border-radius: 8px !important;
  padding: 10px 12px !important;
  box-shadow: none !important;
  border-color: rgba(218, 227, 248, 1);
  border-width: 1px;
}

.select-options .el-select__selected-item{
  font-size: 0.75rem;
  font-weight: 600;
  color: #0B1C33 !important;
}
h1,
h2,
h3,
p {
  font-family: "Rethink Sans", sans-serif;
}


